# /etc/udev/rules.d/88-3DPrinter.rules
# ENV{VENDOR_ID}="10c4"
# ENV{PRODUCT_ID}="ea60"
ENV{DEV_NAME}="ttyANYCUBIC"
ACTION=="add|change", SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="$env{DEV_NAME}", RUN+="/usr/bin/docker exec octoprint printerDetect $env{DEV_NAME}"
ACTION=="remove" SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="10c4", ENV{ID_MODEL_ID}=="ea60", RUN+="/usr/bin/docker exec octoprint printerDetect $env{DEV_NAME}"
